body{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   justify-content: center;
   text-align: center;
   background-color: rgb(225, 241, 255);
   font-size: 20px;
}


p{
   margin: 10px;
   padding: 0px;
   margin-bottom: 15px;
}

.checkList{
   padding: 0px;
   margin: 0px;
   margin-bottom: 15px;
}

label, input[type=checkbox]{
   cursor: pointer;
}


.principal{
   background-color: white;
   width: 35vw;
   text-align: center;
   border-radius: 20px;
   padding: 30px;
   margin: auto;
   box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.144);
}

input[type=button]{

   background-color: transparent;
   width: 140px;
   height: 45px;
   border: 2px solid rgb(137, 198, 255);
   border-radius: 20px;
   outline: none;
   margin-bottom: 15px;
   font-size: 20px;

}

input[type=button]:hover{
   transition: 0.3s;
   width: 155px;
   background-color:rgb(137, 198, 255);
   cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button{
   -webkit-appearance: none;

}
input[type=number]{
   font-size: 20px;
   width: 80px;
   margin-bottom: 20px;
   text-align: center;
   outline: none;
   border: none;
   height: 20px;
   border-bottom: 2px solid rgb(137, 198, 255);
}

input[type=number]:focus{
   border-bottom: 3px solid rgb(137, 198, 255);
}

.resultado{
   opacity: 0;
   background-color: rgb(137, 198, 255);
   padding: 10px;
   border-radius: 10px;
   text-align: center;

}


@media screen and (max-width: 800px){
   .principal{
      width: 85%;
   }
}